@import "../css/calc.css";
.wrapper {
  background: #fff;
}
ul {
  margin-top: 0;
  padding-left: 0;
}
ul li {
  list-style: none;
}
i.queen {
  width: 24px;
  height: 24px;
  font-size: 20px;
  display: inline-block;
  line-height: 24px;
  text-align: center;
}
i.queen.big {
  line-height: 30px;
  font-size: 30px;
  width: 30px;
  height: 30px;
}
i.queen.queen-webicon19 {
  color: #ccc;
}
i.queen.queen-webicon19.active {
  color: #ff4e53;
}
html,
body {
  font-family: "microsoft yahei";
  width: 100%;
  height: 100%;
  background: #fff;
}
.mui-popup-button {
  color: #916923 !important;
}
.goods-wrapper {
  margin-bottom: 10px;
  font-size: 14px;
}
.goods-wrapper > .title {
  line-height: 1;
  padding: 9px 16px;
  background: #fff;
  margin-bottom: 1px;
  color: rgba(0, 0, 0, 0.5);
}
.goods-wrapper .goods-items {
  background: #fff;
  margin-bottom: 1px;
}
.goods-wrapper .goods-items .inner {
  padding: 16px;
  display: flex;
}
.goods-wrapper .goods-items .inner .thumb {
  flex: 80px 0 0;
}
.goods-wrapper .goods-items .inner > .context {
  flex: 1;
  display: flex;
}
.goods-wrapper .goods-items .inner > .context .imp {
  margin-left: 9px;
  min-width: 130px;
  max-width: 60%;
}
.goods-wrapper .goods-items .inner > .context .imp .goods-head {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 32px;
}
.goods-wrapper .goods-items .inner > .context .imp .goods-types {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  padding-top: 20px;
}
.goods-wrapper .goods-items .inner > .context .goods-pricesList {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}
.goods-wrapper .goods-items .inner > .context .goods-pricesList .sums {
  padding-left: 10px;
}
.goods-wrapper .goods-items .inner > .context .goods-pricesList .pr::before {
  content: '￥';
  color: #f00;
  float: left;
  font-weight: bold;
  font-size: 16px;
}
.totalPrice {
  font-size: 12px;
  padding: 9px 16px;
  background: #fff;
  text-align: right;
  margin-bottom: 1px;
}
.totalPrice .goods-prices::before {
  content: '￥';
  font-size: 14px;
  font-weight: bold;
}
.prices-buttonGroup {
  background: #fff;
  padding: 9px 16px;
  text-align: right;
  margin-bottom: 1px;
}
.prices-buttonGroup > img {
  width: 60px;
}
.prices-buttonGroup > img:last-of-type {
  margin-left: 5px;
}
.prices-buttonGroup > span {
  width: 60px;
  font-size: 12px;
  border: 1px solid;
  padding: 2px 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.prices-buttonGroup > span:last-of-type {
  margin-left: 5px;
  color: #916923;
}
.wrapper {
  background: #f2f0da;
}
.wrapper .goods-wrapper .title {
  display: flex;
  justify-content: space-between;
}
.wrapper .goods-wrapper .title .goods-types {
  color: #916923;
}
