@import "../css/calc.css";
@import "//at.alicdn.com/t/font_588833_guqdseanbh3vunmi.css";
.wrapper {
  background: #fff;
}
ul {
  margin-top: 0;
  padding-left: 0;
}
ul li {
  list-style: none;
}
i.queen {
  width: 24px;
  height: 24px;
  font-size: 20px;
  display: inline-block;
  line-height: 24px;
  text-align: center;
}
i.queen.big {
  line-height: 30px;
  font-size: 30px;
  width: 30px;
  height: 30px;
}
i.queen.queen-webicon19 {
  color: #ccc;
}
i.queen.queen-webicon19.active {
  color: #ff4e53;
}
html,
body {
  font-family: "microsoft yahei";
  width: 100%;
  height: 100%;
  background: #fff;
}
.mui-popup-button {
  color: #916923 !important;
}
.comment-items {
  font-size: 14px;
  background: #fff;
  padding: 10px 16px 0;
}
.comment-items .avatorGroup .avator {
  border-radius: 50%;
}
.comment-items .avatorGroup .userName {
  font-size: 14px;
}
.comment-items .types span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  padding-right: 14px;
}
.comment-items .comment-mains {
  text-align: center;
}
.comment-items .comment-mains .commentTypes {
  margin-top: 5px;
  text-align: left;
  line-height: 1.2;
  margin-bottom: 0;
  font-size: 12px;
}
.comment-items .comment-mains .comment-text {
  text-align: left;
  padding: 5px 0 5px;
}
.comment-items .comment-mains .comment-pices {
  overflow: hidden;
}
.comment-items .comment-mains .comment-pices img {
  float: left;
  box-sizing: border-box;
  width: 25%;
  padding: 0 7px 5px;
}
.comment-items .comment-mains .allComment {
  display: inline-block;
  padding: 3px 20px;
  font-size: 14px;
  color: #916923;
  border: 1px solid #916923;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 10px 0;
}
.comment-items .checkGoods {
  padding: 10px 0;
  text-align: right;
}
.comment-items .checkGoods span {
  color: #916923;
  font-weight: bold;
  font-size: 16px;
  padding-left: 16px;
}
.wrapper {
  background: #f2f0da;
}
.wrapper .content .goodsSlider {
  width: 100%!important;
}
.wrapper .content .goodsTitle {
  padding: 0 16px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background: #fff;
  line-height: 3;
  margin-bottom: 1px;
}
.wrapper .content .prices .realPrice {
  padding: 0 16px;
  background: #fff;
  display: block;
  color: #ff4e53;
  font-size: 20px;
  font-weight: bold;
  line-height: 2.5;
  margin-bottom: 1px;
}
.wrapper .content .prices .realPrice::before {
  content: '￥';
}
.wrapper .content .prices .otherGroup {
  padding: 0 16px;
  background: #fff;
  overflow: hidden;
}
.wrapper .content .prices .otherGroup span {
  display: inline-block;
  line-height: 2;
  width: 50%;
  float: left;
  font-size: 12px;
  color: #888888;
}
.wrapper .content .types,
.wrapper .content .props {
  line-height: 2.5;
  padding: 0 16px;
  background: #fff;
  font-size: 14px;
  margin-top: 10px;
}
.wrapper .content .desc {
  margin-top: 10px;
  background: #fff;
  padding: 16px;
  font-size: 14px;
}
.wrapper .content .desc::before {
  content: '简介：';
  display: block;
}
.wrapper .content .mini-comments {
  margin-top: 10px;
  background: #fff;
  margin-bottom: 0;
  padding: 5px 16px;
}
.wrapper .content .mini-comments .head {
  font-size: 14px;
  width: 100%;
  display: block;
}
.wrapper .content .mini-comments .checkAll {
  color: #916923;
}
.wrapper .content .comment-group {
  margin-bottom: 0;
}
.wrapper .content .outerQ {
  text-align: center;
  background: #fff;
  margin-bottom: 10px;
}
.wrapper .content .outerQ .questionGroup {
  margin-bottom: 0;
}
.wrapper .content .outerQ .questionGroup .questionItems {
  padding: 5px 16px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.wrapper .content .outerQ .questionGroup .questionItems span:first-of-type {
  line-height: 24px;
}
.wrapper .content .outerQ .questionGroup .questionItems span:first-of-type img {
  float: left;
  margin-right: 5px;
}
.wrapper .content .outerQ .questionGroup .questionItems span:last-of-type {
  color: rgba(0, 0, 0, 0.5);
}
.wrapper .content .outerQ .allQuestions {
  display: inline-block;
  padding: 3px 20px;
  font-size: 14px;
  color: #916923;
  border: 1px solid #916923;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 10px 0;
}
.wrapper .goodsDesc-box {
  width: 100%;
}
.wrapper .goodsDesc-box img {
  width: 100%;
}
.wrapper .hideBox {
  display: none;
}
.typesBox .title {
  color: #333333;
  display: flex;
  justify-content: space-between;
  margin: 16px 16px 0;
  padding-bottom: 16px;
  font-size: 20px;
  border-bottom: 1px solid #f2f0da;
}
.typesBox ul {
  padding: 16px;
}
.typesBox ul li {
  font-size: 14px;
  margin-top: 15px ;
  padding-bottom: 15px;
  display: flex;
  border-bottom: 1px solid #f2f0da;
}
.typesBox ul li:first-of-type {
  margin-top: 0;
}
.typesBox ul li > span {
  color: #888888;
  flex: 80px 0 0 ;
}
.guigeBox {
  padding: 16px;
}
.guigeBox .title {
  position: relative;
}
.guigeBox .title > img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.guigeBox .title .mains {
  vertical-align: top;
  height: 100%;
  display: inline-block;
  padding-left: 18px;
}
.guigeBox .title .mains > span {
  display: block;
  font-size: 16px;
}
.guigeBox .title .mains > span:first-of-type {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.guigeBox .title .mains > span:first-of-type::before {
  content: '￥';
  color: #ff4e53;
  font-size: 24px;
  font-weight: bold;
}
.guigeBox .title i {
  float: right;
  top: 0;
}
.guigeBox .goodsTypes .goodsTypesGroup {
  margin-bottom: 20px;
}
.guigeBox .goodsTypes .goodsTypesGroup li {
  display: inline-block;
  padding: 5px 25px;
  font-size: 14px;
  background: #d9d9d9;
  border-radius: 5px;
  opacity: 0.8;
  margin: 10px;
}
.guigeBox .goodsTypes .goodsTypesGroup li.active {
  color: #fff;
  background: #916923;
  transition: 0.4s all ease;
}
.guigeBox .payButtonsGroup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.guigeBox .payButtonsGroup img {
  width: 50%;
  float: left;
}
.guigeBox > .nums {
  display: flex;
  justify-content: space-between;
}
.guigeBox > .nums .inputs {
  background: #d9d9d9;
}
.guigeBox > .nums .inputs .goodsNum {
  height: inherit;
  padding: 0;
  margin-bottom: 0;
  width: 24px;
  text-align: center;
  display: inline-block;
  line-height: 24px;
  vertical-align: bottom;
}
.goodsDescFooter {
  background: #fff;
  position: fixed;
  bottom: -4px;
  width: 100%;
  left: 0;
  z-index: 8;
}
.goodsDescFooter ul {
  display: flex;
  margin-bottom: 0;
}
.goodsDescFooter ul > li {
  float: left;
  flex: 1;
}
.goodsDescFooter ul > li:first-of-type img {
  width: 50%;
  float: left;
}
.goodsDescFooter ul > li img {
  width: 100%;
}
